.dropdown {

  &__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#212529;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: none;
  }

  &__content {
    color:#343A40;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
  }
}