.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 24px 45px;

  &__logo {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    gap: 40px;
    align-items: center;

    &--link {
      text-decoration: none;
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; 
      color: #212529;
    }
  }

  &__button {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    color: #FAFAFF;
    border: 1px solid #4E51FF;
    background-color: #4E51FF;
    border-radius: 100px;
    padding: 16px 91px;
  }
}